{{define "lists/template"}}

<div class="cards-section flex flex-col flex-wrap">
    <h3 class="text-xl pb-5">
        Lists
    </h3>
    <div class="flex flex-wrap flex-direction-row gap-4">
        <div class="preview-section">
            <div>

                <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Password requirements:</h2>
                <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                    <li>
                        At least 10 characters (and up to 100 characters)
                    </li>
                    <li>
                        At least one lowercase character
                    </li>
                    <li>
                        Inclusion of at least one special character, e.g., ! @ # ?
                    </li>
                </ul>
                
                    </div>
        </div>
        <div class="preview-section">
            <div>

                <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Password requirements:</h2>
                <ul class="max-w-md space-y-1 text-gray-500 list-inside dark:text-gray-400">
                    <li class="flex items-center">
                        <svg class="w-4 h-4 mr-1.5 text-green-500 dark:text-green-400 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        At least 10 characters
                    </li>
                    <li class="flex items-center">
                        <svg class="w-4 h-4 mr-1.5 text-green-500 dark:text-green-400 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        At least one lowercase character
                    </li>
                    <li class="flex items-center">
                        <svg class="w-4 h-4 mr-1.5 text-gray-400 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"></path></svg>
                        At least one special character, e.g., ! @ # ?
                    </li>
                </ul>
                
                    </div>
        </div>
        <div class="preview-section">
            <div>

                <ul class="space-y-4 text-gray-500 list-disc list-inside dark:text-gray-400">
                    <li>
                        List item one
                        <ol class="pl-5 mt-2 space-y-1 list-decimal list-inside">
                            <li>You might feel like you are being really "organized" o</li>
                            <li>Nested navigation in UIs is a bad idea too, keep things as flat as possible.</li>
                            <li>Nesting tons of folders in your source code is also not helpful.</li>
                        </ol>
                    </li>
                    <li>
                        List item two
                        <ul class="pl-5 mt-2 space-y-1 list-decimal list-inside">
                            <li>I'm not sure if we'll bother styling more than two levels deep.</li>
                            <li>Two is already too much, three is guaranteed to be a bad idea.</li>
                            <li>If you nest four levels deep you belong in prison.</li>
                        </ul>
                    </li>
                    <li>
                        List item three
                        <ul class="pl-5 mt-2 space-y-1 list-decimal list-inside">
                            <li>Again please don't nest lists if you want</li>
                            <li>Nobody wants to look at this.</li>
                            <li>I'm upset that we even have to bother styling this.</li>
                        </ul>
                    </li>
                </ul>
                
                    </div>
        </div>
        <div class="preview-section">
            <div>

                <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Password requirements:</h2>
                <ul class="max-w-md space-y-1 text-gray-500 list-none list-inside dark:text-gray-400">
                    <li>
                        At least 10 characters (and up to 100 characters)
                    </li>
                    <li>
                        At least one lowercase character
                    </li>
                    <li>
                        Inclusion of at least one special character, e.g., ! @ # ?
                    </li>
                </ul>
                
                    </div>
        </div>
        <div class="preview-section">
            <div>

                <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Top students:</h2>
                <ol class="max-w-md space-y-1 text-gray-500 list-decimal list-inside dark:text-gray-400">
                    <li>
                        <span class="font-semibold text-gray-900 dark:text-white">Bonnie Green</span> with <span class="font-semibold text-gray-900 dark:text-white">70</span> points
                    </li>
                    <li>
                        <span class="font-semibold text-gray-900 dark:text-white">Jese Leos</span> with <span class="font-semibold text-gray-900 dark:text-white">63</span> points
                    </li>
                    <li>
                        <span class="font-semibold text-gray-900 dark:text-white">Leslie Livingston</span> with <span class="font-semibold text-gray-900 dark:text-white">57</span> points
                    </li>
                </ol>
                
                    </div>
        </div>
        <div class="preview-section">
            <div>

                <ol class="space-y-4 text-gray-500 list-decimal list-inside dark:text-gray-400">
                    <li>
                       List item one
                       <ul class="pl-5 mt-2 space-y-1 list-disc list-inside">
                          <li>You might feel like you are being really "organized" o</li>
                          <li>Nested navigation in UIs is a bad idea too, keep things as flat as possible.</li>
                          <li>Nesting tons of folders in your source code is also not helpful.</li>
                       </ul>
                    </li>
                    <li>
                       List item two
                       <ul class="pl-5 mt-2 space-y-1 list-disc list-inside">
                          <li>I'm not sure if we'll bother styling more than two levels deep.</li>
                          <li>Two is already too much, three is guaranteed to be a bad idea.</li>
                          <li>If you nest four levels deep you belong in prison.</li>
                       </ul>
                    </li>
                    <li>
                       List item three
                       <ul class="pl-5 mt-2 space-y-1 list-disc list-inside">
                          <li>Again please don't nest lists if you want</li>
                          <li>Nobody wants to look at this.</li>
                          <li>I'm upset that we even have to bother styling this.</li>
                       </ul>
                    </li>
                 </ol>
                 
                    </div>
        </div>
        <div class="preview-section">
            <div>

                <dl class="max-w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
                    <div class="flex flex-col pb-3">
                        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Email address</dt>
                        <dd class="text-lg font-semibold">yourname@flowbite.com</dd>
                    </div>
                    <div class="flex flex-col py-3">
                        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Home address</dt>
                        <dd class="text-lg font-semibold">92 Miles Drive, Newark, NJ 07103, California, USA</dd>
                    </div>
                    <div class="flex flex-col pt-3">
                        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Phone number</dt>
                        <dd class="text-lg font-semibold">+00 123 456 789 / +12 345 678</dd>
                    </div>
                </dl>
                
                    </div>
        </div>
        <div class="preview-section">
            <div>

                <ul class="mb-8 space-y-4 text-left text-gray-500 dark:text-gray-400">
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Individual configuration</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>No setup, or hidden fees</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Team size: <span class="font-semibold text-gray-900 dark:text-white">1 developer</span></span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Premium support: <span class="font-semibold text-gray-900 dark:text-white">6 months</span></span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Free updates: <span class="font-semibold text-gray-900 dark:text-white">6 months</span></span>
                    </li>
                </ul>
                
                    </div>
        </div>
        <div class="preview-section">
            <div>

                <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
                    <li class="pb-3 sm:pb-4">
                       <div class="flex items-center space-x-4">
                          <div class="flex-shrink-0">
                             <img class="w-8 h-8 rounded-full" src="/assets/avatar_1.avif" alt="Neil image">
                          </div>
                          <div class="flex-1 min-w-0">
                             <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                Neil Sims
                             </p>
                             <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                email@flowbite.com
                             </p>
                          </div>
                          <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                             $320
                          </div>
                       </div>
                    </li>
                    <li class="py-3 sm:py-4">
                       <div class="flex items-center space-x-4">
                          <div class="flex-shrink-0">
                             <img class="w-8 h-8 rounded-full" src="/assets/avatar_1.avif" alt="Neil image">
                          </div>
                          <div class="flex-1 min-w-0">
                             <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                Bonnie Green
                             </p>
                             <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                email@flowbite.com
                             </p>
                          </div>
                          <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                             $3467
                          </div>
                       </div>
                    </li>
                    <li class="py-3 sm:py-4">
                       <div class="flex items-center space-x-4">
                          <div class="flex-shrink-0">
                             <img class="w-8 h-8 rounded-full" src="/assets/avatar_1.avif" alt="Neil image">
                          </div>
                          <div class="flex-1 min-w-0">
                             <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                Michael Gough
                             </p>
                             <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                email@flowbite.com
                             </p>
                          </div>
                          <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                             $67
                          </div>
                       </div>
                    </li>
                    <li class="py-3 sm:py-4">
                       <div class="flex items-center space-x-4">
                          <div class="flex-shrink-0">
                             <img class="w-8 h-8 rounded-full" src="/assets/avatar_1.avif" alt="Neil image">
                          </div>
                          <div class="flex-1 min-w-0">
                             <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                Thomas Lean
                             </p>
                             <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                email@flowbite.com
                             </p>
                          </div>
                          <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                             $2367
                          </div>
                       </div>
                    </li>
                    <li class="pt-3 pb-0 sm:pt-4">
                       <div class="flex items-center space-x-4">
                          <div class="flex-shrink-0">
                             <img class="w-8 h-8 rounded-full" src="/assets/avatar_1.avif" alt="Neil image">
                          </div>
                          <div class="flex-1 min-w-0">
                             <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                Lana Byrd
                             </p>
                             <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                email@flowbite.com
                             </p>
                          </div>
                          <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                             $367
                          </div>
                       </div>
                    </li>
                 </ul>
                 
                    </div>
        </div>
        <div class="preview-section">
            <div>

                <ul class="flex flex-wrap items-center justify-center mb-6 text-gray-900 dark:text-white">
                    <li>
                        <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
                    </li>
                    <li>
                        <a href="#" class="mr-4 hover:underline md:mr-6">Premium</a>
                    </li>
                    <li>
                        <a href="#" class="mr-4 hover:underline md:mr-6 ">Campaigns</a>
                    </li>
                    <li>
                        <a href="#" class="mr-4 hover:underline md:mr-6">Blog</a>
                    </li>
                    <li>
                        <a href="#" class="mr-4 hover:underline md:mr-6">Affiliate Program</a>
                    </li>
                    <li>
                        <a href="#" class="mr-4 hover:underline md:mr-6">FAQs</a>
                    </li>
                    <li>
                        <a href="#" class="mr-4 hover:underline md:mr-6">Contact</a>
                    </li>
                </ul>
                
                    </div>
        </div>
        <div class="preview-section">
            <div>

                <ul class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    <li class="w-full px-4 py-2 border-b border-gray-200 rounded-t-lg dark:border-gray-600">Profile</li>
                    <li class="w-full px-4 py-2 border-b border-gray-200 dark:border-gray-600">Settings</li>
                    <li class="w-full px-4 py-2 border-b border-gray-200 dark:border-gray-600">Messages</li>
                    <li class="w-full px-4 py-2 rounded-b-lg">Download</li>
                </ul>
                
                    </div>
        </div>
        <div class="preview-section">
            <div>

                <div class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    <a href="#" aria-current="true" class="block w-full px-4 py-2 text-white bg-blue-700 border-b border-gray-200 rounded-t-lg cursor-pointer dark:bg-gray-800 dark:border-gray-600">
                        Profile
                    </a>
                    <a href="#" class="block w-full px-4 py-2 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                        Settings
                    </a>
                    <a href="#" class="block w-full px-4 py-2 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                        Messages
                    </a>
                    <a href="#" class="block w-full px-4 py-2 rounded-b-lg cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                        Download
                    </a>
                </div>
                
                    </div>
        </div>
        <div class="preview-section">
            <div>

                <div class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    <button aria-current="true" type="button" class="w-full px-4 py-2 font-medium text-left text-white bg-blue-700 border-b border-gray-200 rounded-t-lg cursor-pointer focus:outline-none dark:bg-gray-800 dark:border-gray-600">
                        Profile
                    </button>
                    <button type="button" class="w-full px-4 py-2 font-medium text-left border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                        Settings
                    </button>
                    <button type="button" class="w-full px-4 py-2 font-medium text-left border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                        Messages
                    </button>
                    <button disabled="" type="button" class="w-full px-4 py-2 font-medium text-left bg-gray-100 rounded-b-lg cursor-not-allowed dark:bg-gray-600 dark:text-gray-400">
                        Download
                    </button>
                </div>
                
                    </div>
        </div>
        <div class="preview-section">
            <div>

                <div class="w-48 text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    <button type="button" class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium border-b border-gray-200 rounded-t-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                        <svg aria-hidden="true" class="w-4 h-4 mr-2 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd"></path></svg>
                        Profile
                    </button>
                    <button type="button" class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                        <svg aria-hidden="true" class="w-4 h-4 mr-2 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z"></path></svg>
                        Settings
                    </button>
                    <button type="button" class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                        <svg aria-hidden="true" class="w-4 h-4 mr-2 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 3a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2V5a2 2 0 00-2-2H5zm0 2h10v7h-2l-1 2H8l-1-2H5V5z" clip-rule="evenodd"></path></svg>
                        Messages
                    </button>
                    <button type="button" class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium rounded-b-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                        <svg aria-hidden="true" class="w-4 h-4 mr-2 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2 9.5A3.5 3.5 0 005.5 13H9v2.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 15.586V13h2.5a4.5 4.5 0 10-.616-8.958 4.002 4.002 0 10-7.753 1.977A3.5 3.5 0 002 9.5zm9 3.5H9V8a1 1 0 012 0v5z" clip-rule="evenodd"></path></svg>
                        Download
                    </button>
                </div>
                
                    </div>
        </div>
        <div class="preview-section">

            <div class="container flex flex-col items-center justify-center w-full mx-auto bg-white rounded-lg shadow dark:bg-gray-800">
                <ul class="flex flex-col divide-y divide">
                    <li class="flex flex-row">
                        <div class="flex items-center flex-1 p-4 cursor-pointer select-none">
                            <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                                <a href="#" class="relative block">
                                    <img alt="profil" src="/assets/tailwindkit/6.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                                </a>
                            </div>
                            <div class="flex-1 pl-1 mr-16">
                                <div class="font-medium dark:text-white">
                                    Jean Marc
                                </div>
                                <div class="text-sm text-gray-600 dark:text-gray-200">
                                    Developer
                                </div>
                            </div>
                            <div class="text-xs text-gray-600 dark:text-gray-200">
                                6:00 AM
                            </div>
                        </div>
                    </li>
                    <li class="flex flex-row">
                        <div class="flex items-center flex-1 p-4 cursor-pointer select-none">
                            <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                                <a href="#" class="relative block">
                                    <img alt="profil" src="/assets/tailwindkit/10.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                                </a>
                            </div>
                            <div class="flex-1 pl-1 mr-16">
                                <div class="font-medium dark:text-white">
                                    Designer
                                </div>
                                <div class="text-sm text-gray-600 dark:text-gray-200">
                                    Charlie Moi
                                </div>
                            </div>
                            <div class="text-xs text-gray-600 dark:text-gray-200">
                                6:00 AM
                            </div>
                        </div>
                    </li>
                    <li class="flex flex-row">
                        <div class="flex items-center flex-1 p-4 cursor-pointer select-none">
                            <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                                <a href="#" class="relative block">
                                    <img alt="profil" src="/assets/tailwindkit/3.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                                </a>
                            </div>
                            <div class="flex-1 pl-1 mr-16">
                                <div class="font-medium dark:text-white">
                                    CEO
                                </div>
                                <div class="text-sm text-gray-600 dark:text-gray-200">
                                    Marine Jeanne
                                </div>
                            </div>
                            <div class="text-xs text-gray-600 dark:text-gray-200">
                                6:00 AM
                            </div>
                        </div>
                    </li>
                    <li class="flex flex-row">
                        <div class="flex items-center flex-1 p-4 cursor-pointer select-none">
                            <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                                <a href="#" class="relative block">
                                    <img alt="profil" src="/assets/tailwindkit/7.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                                </a>
                            </div>
                            <div class="flex-1 pl-1 mr-16">
                                <div class="font-medium dark:text-white">
                                    CTO
                                </div>
                                <div class="text-sm text-gray-600 dark:text-gray-200">
                                    Boby PArk
                                </div>
                            </div>
                            <div class="text-xs text-gray-600 dark:text-gray-200">
                                6:00 AM
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            
        </div>
        <div class="preview-section">

            <div class="container flex flex-col items-center justify-center w-full mx-auto bg-white rounded-lg shadow dark:bg-gray-800">
                <ul class="flex flex-col divide-y divide">
                    <li class="flex flex-row">
                        <div class="flex items-center flex-1 p-4 cursor-pointer select-none">
                            <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                                <a href="#" class="relative block">
                                    <img alt="profil" src="/assets/tailwindkit/6.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                                </a>
                            </div>
                            <div class="flex-1 pl-1 mr-16">
                                <div class="font-medium dark:text-white">
                                    Jean Marc
                                </div>
                                <div class="text-sm text-gray-600 dark:text-gray-200">
                                    Developer
                                </div>
                            </div>
                            <div class="text-xs text-gray-600 dark:text-gray-200">
                                6:00 AM
                            </div>
                            <button class="flex justify-end w-24 text-right">
                                <svg width="20" fill="currentColor" height="20" class="text-gray-500 hover:text-gray-800 dark:hover:text-white dark:text-gray-200" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
                    <li class="flex flex-row">
                        <div class="flex items-center flex-1 p-4 cursor-pointer select-none">
                            <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                                <a href="#" class="relative block">
                                    <img alt="profil" src="/assets/tailwindkit/10.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                                </a>
                            </div>
                            <div class="flex-1 pl-1 mr-16">
                                <div class="font-medium dark:text-white">
                                    Designer
                                </div>
                                <div class="text-sm text-gray-600 dark:text-gray-200">
                                    Charlie Moi
                                </div>
                            </div>
                            <div class="text-xs text-gray-600 dark:text-gray-200">
                                6:00 AM
                            </div>
                            <button class="flex justify-end w-24 text-right">
                                <svg width="20" fill="currentColor" height="20" class="text-gray-500 hover:text-gray-800 dark:hover:text-white dark:text-gray-200" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
                    <li class="flex flex-row">
                        <div class="flex items-center flex-1 p-4 cursor-pointer select-none">
                            <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                                <a href="#" class="relative block">
                                    <img alt="profil" src="/assets/tailwindkit/3.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                                </a>
                            </div>
                            <div class="flex-1 pl-1 mr-16">
                                <div class="font-medium dark:text-white">
                                    CEO
                                </div>
                                <div class="text-sm text-gray-600 dark:text-gray-200">
                                    Marine Jeanne
                                </div>
                            </div>
                            <div class="text-xs text-gray-600 dark:text-gray-200">
                                6:00 AM
                            </div>
                            <button class="flex justify-end w-24 text-right">
                                <svg width="20" fill="currentColor" height="20" class="text-gray-500 hover:text-gray-800 dark:hover:text-white dark:text-gray-200" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
                    <li class="flex flex-row">
                        <div class="flex items-center flex-1 p-4 cursor-pointer select-none">
                            <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                                <a href="#" class="relative block">
                                    <img alt="profil" src="/assets/tailwindkit/7.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                                </a>
                            </div>
                            <div class="flex-1 pl-1 mr-16">
                                <div class="font-medium dark:text-white">
                                    CTO
                                </div>
                                <div class="text-sm text-gray-600 dark:text-gray-200">
                                    Boby PArk
                                </div>
                            </div>
                            <div class="text-xs text-gray-600 dark:text-gray-200">
                                6:00 AM
                            </div>
                            <button class="flex justify-end w-24 text-right">
                                <svg width="20" fill="currentColor" height="20" class="text-gray-500 hover:text-gray-800 dark:hover:text-white dark:text-gray-200" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="preview-section">

            <div class="container flex flex-col items-center justify-center w-full mx-auto bg-white rounded-lg shadow dark:bg-gray-800">
                <div class="w-full px-4 py-5 border-b sm:px-6">
                    <h3 class="text-lg font-medium leading-6 text-gray-900 dark:text-white">
                        User database
                    </h3>
                    <p class="max-w-2xl mt-1 text-sm text-gray-500 dark:text-gray-200">
                        Details and informations about user.
                    </p>
                </div>
                <ul class="flex flex-col divide-y divide">
                    <li class="flex flex-row">
                        <div class="flex items-center flex-1 p-4 cursor-pointer select-none">
                            <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                                <a href="#" class="relative block">
                                    <img alt="profil" src="/assets/tailwindkit/6.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                                </a>
                            </div>
                            <div class="flex-1 pl-1 mr-16">
                                <div class="font-medium dark:text-white">
                                    Jean Marc
                                </div>
                                <div class="text-sm text-gray-600 dark:text-gray-200">
                                    Developer
                                </div>
                            </div>
                            <div class="text-xs text-gray-600 dark:text-gray-200">
                                6:00 AM
                            </div>
                            <button class="flex justify-end w-24 text-right">
                                <svg width="20" fill="currentColor" height="20" class="text-gray-500 hover:text-gray-800 dark:hover:text-white dark:text-gray-200" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
                    <li class="flex flex-row">
                        <div class="flex items-center flex-1 p-4 cursor-pointer select-none">
                            <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                                <a href="#" class="relative block">
                                    <img alt="profil" src="/assets/tailwindkit/10.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                                </a>
                            </div>
                            <div class="flex-1 pl-1 mr-16">
                                <div class="font-medium dark:text-white">
                                    Designer
                                </div>
                                <div class="text-sm text-gray-600 dark:text-gray-200">
                                    Charlie Moi
                                </div>
                            </div>
                            <div class="text-xs text-gray-600 dark:text-gray-200">
                                6:00 AM
                            </div>
                            <button class="flex justify-end w-24 text-right">
                                <svg width="20" fill="currentColor" height="20" class="text-gray-500 hover:text-gray-800 dark:hover:text-white dark:text-gray-200" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
                    <li class="flex flex-row">
                        <div class="flex items-center flex-1 p-4 cursor-pointer select-none">
                            <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                                <a href="#" class="relative block">
                                    <img alt="profil" src="/assets/tailwindkit/3.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                                </a>
                            </div>
                            <div class="flex-1 pl-1 mr-16">
                                <div class="font-medium dark:text-white">
                                    CEO
                                </div>
                                <div class="text-sm text-gray-600 dark:text-gray-200">
                                    Marine Jeanne
                                </div>
                            </div>
                            <div class="text-xs text-gray-600 dark:text-gray-200">
                                6:00 AM
                            </div>
                            <button class="flex justify-end w-24 text-right">
                                <svg width="20" fill="currentColor" height="20" class="text-gray-500 hover:text-gray-800 dark:hover:text-white dark:text-gray-200" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
                    <li class="flex flex-row">
                        <div class="flex items-center flex-1 p-4 cursor-pointer select-none">
                            <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                                <a href="#" class="relative block">
                                    <img alt="profil" src="/assets/tailwindkit/7.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                                </a>
                            </div>
                            <div class="flex-1 pl-1 mr-16">
                                <div class="font-medium dark:text-white">
                                    CTO
                                </div>
                                <div class="text-sm text-gray-600 dark:text-gray-200">
                                    Boby PArk
                                </div>
                            </div>
                            <div class="text-xs text-gray-600 dark:text-gray-200">
                                6:00 AM
                            </div>
                            <button class="flex justify-end w-24 text-right">
                                <svg width="20" fill="currentColor" height="20" class="text-gray-500 hover:text-gray-800 dark:hover:text-white dark:text-gray-200" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="preview-section">

<div class="container flex flex-col items-center justify-center w-full mx-auto">
    <ul class="flex flex-col">
        <li class="flex flex-row mb-2 border-gray-400">
            <div class="shadow border select-none cursor-pointer bg-white dark:bg-gray-800 rounded-md flex flex-1 items-center p-4">
                <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                    <a href="#" class="relative block">
                        <img alt="profil" src="/assets/tailwindkit/6.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                    </a>
                </div>
                <div class="flex-1 pl-1 md:mr-16">
                    <div class="font-medium dark:text-white">
                        Jean Marc
                    </div>
                    <div class="text-sm text-gray-600 dark:text-gray-200">
                        Developer
                    </div>
                </div>
            </div>
        </li>
        <li class="flex flex-row mb-2 border-gray-400">
            <div class="shadow border select-none cursor-pointer bg-white dark:bg-gray-800 rounded-md flex flex-1 items-center p-4">
                <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                    <a href="#" class="relative block">
                        <img alt="profil" src="/assets/tailwindkit/10.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                    </a>
                </div>
                <div class="flex-1 pl-1 md:mr-16">
                    <div class="font-medium dark:text-white">
                        Designer
                    </div>
                    <div class="text-sm text-gray-600 dark:text-gray-200">
                        Charlie Moi
                    </div>
                </div>
            </div>
        </li>
        <li class="flex flex-row mb-2 border-gray-400">
            <div class="shadow border select-none cursor-pointer bg-white dark:bg-gray-800 rounded-md flex flex-1 items-center p-4">
                <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                    <a href="#" class="relative block">
                        <img alt="profil" src="/assets/tailwindkit/3.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                    </a>
                </div>
                <div class="flex-1 pl-1 md:mr-16">
                    <div class="font-medium dark:text-white">
                        CEO
                    </div>
                    <div class="text-sm text-gray-600 dark:text-gray-200">
                        Marine Jeanne
                    </div>
                </div>
            </div>
        </li>
        <li class="flex flex-row mb-2 border-gray-400">
            <div class="shadow border select-none cursor-pointer bg-white dark:bg-gray-800 rounded-md flex flex-1 items-center p-4">
                <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                    <a href="#" class="relative block">
                        <img alt="profil" src="/assets/tailwindkit/7.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                    </a>
                </div>
                <div class="flex-1 pl-1 md:mr-16">
                    <div class="font-medium dark:text-white">
                        CTO
                    </div>
                    <div class="text-sm text-gray-600 dark:text-gray-200">
                        Boby PArk
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

        </div>
        <div class="preview-section">

<div class="container flex flex-col items-center justify-center w-full mx-auto">
    <ul class="flex flex-col">
        <li class="flex flex-row mb-2 border-gray-400">
            <div class="shadow border select-none cursor-pointer bg-white dark:bg-gray-800 rounded-md flex flex-1 items-center p-4">
                <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                    <a href="#" class="relative block">
                        <img alt="profil" src="/assets/tailwindkit/6.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                    </a>
                </div>
                <div class="flex-1 pl-1 md:mr-16">
                    <div class="font-medium dark:text-white">
                        Jean Marc
                    </div>
                    <div class="text-sm text-gray-600 dark:text-gray-200">
                        Developer
                    </div>
                </div>
                <div class="text-xs text-gray-600 dark:text-gray-200">
                    6:00 AM
                </div>
            </div>
        </li>
        <li class="flex flex-row mb-2 border-gray-400">
            <div class="shadow border select-none cursor-pointer bg-white dark:bg-gray-800 rounded-md flex flex-1 items-center p-4">
                <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                    <a href="#" class="relative block">
                        <img alt="profil" src="/assets/tailwindkit/10.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                    </a>
                </div>
                <div class="flex-1 pl-1 md:mr-16">
                    <div class="font-medium dark:text-white">
                        Designer
                    </div>
                    <div class="text-sm text-gray-600 dark:text-gray-200">
                        Charlie Moi
                    </div>
                </div>
                <div class="text-xs text-gray-600 dark:text-gray-200">
                    6:00 AM
                </div>
            </div>
        </li>
        <li class="flex flex-row mb-2 border-gray-400">
            <div class="shadow border select-none cursor-pointer bg-white dark:bg-gray-800 rounded-md flex flex-1 items-center p-4">
                <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                    <a href="#" class="relative block">
                        <img alt="profil" src="/assets/tailwindkit/3.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                    </a>
                </div>
                <div class="flex-1 pl-1 md:mr-16">
                    <div class="font-medium dark:text-white">
                        CEO
                    </div>
                    <div class="text-sm text-gray-600 dark:text-gray-200">
                        Marine Jeanne
                    </div>
                </div>
                <div class="text-xs text-gray-600 dark:text-gray-200">
                    6:00 AM
                </div>
            </div>
        </li>
        <li class="flex flex-row mb-2 border-gray-400">
            <div class="shadow border select-none cursor-pointer bg-white dark:bg-gray-800 rounded-md flex flex-1 items-center p-4">
                <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                    <a href="#" class="relative block">
                        <img alt="profil" src="/assets/tailwindkit/7.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                    </a>
                </div>
                <div class="flex-1 pl-1 md:mr-16">
                    <div class="font-medium dark:text-white">
                        CTO
                    </div>
                    <div class="text-sm text-gray-600 dark:text-gray-200">
                        Boby PArk
                    </div>
                </div>
                <div class="text-xs text-gray-600 dark:text-gray-200">
                    6:00 AM
                </div>
            </div>
        </li>
    </ul>
</div>

        </div>
        <div class="preview-section">

            <div class="container flex flex-col items-center justify-center w-full mx-auto">
                <ul class="flex flex-col">
                    <li class="flex flex-row mb-2 border-gray-400">
                        <div class="shadow border select-none cursor-pointer bg-white dark:bg-gray-800 rounded-md flex flex-1 items-center p-4">
                            <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                                <a href="#" class="relative block">
                                    <img alt="profil" src="/assets/tailwindkit/6.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                                </a>
                            </div>
                            <div class="flex-1 pl-1 md:mr-16">
                                <div class="font-medium dark:text-white">
                                    Jean Marc
                                </div>
                                <div class="text-sm text-gray-600 dark:text-gray-200">
                                    Developer
                                </div>
                            </div>
                            <div class="text-xs text-gray-600 dark:text-gray-200">
                                6:00 AM
                            </div>
                            <button class="flex justify-end w-24 text-right">
                                <svg width="12" fill="currentColor" height="12" class="text-gray-500 hover:text-gray-800 dark:hover:text-white dark:text-gray-200" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
                    <li class="flex flex-row mb-2 border-gray-400">
                        <div class="shadow border select-none cursor-pointer bg-white dark:bg-gray-800 rounded-md flex flex-1 items-center p-4">
                            <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                                <a href="#" class="relative block">
                                    <img alt="profil" src="/assets/tailwindkit/10.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                                </a>
                            </div>
                            <div class="flex-1 pl-1 md:mr-16">
                                <div class="font-medium dark:text-white">
                                    Designer
                                </div>
                                <div class="text-sm text-gray-600 dark:text-gray-200">
                                    Charlie Moi
                                </div>
                            </div>
                            <div class="text-xs text-gray-600 dark:text-gray-200">
                                6:00 AM
                            </div>
                            <button class="flex justify-end w-24 text-right">
                                <svg width="12" fill="currentColor" height="12" class="text-gray-500 hover:text-gray-800 dark:hover:text-white dark:text-gray-200" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
                    <li class="flex flex-row mb-2 border-gray-400">
                        <div class="shadow border select-none cursor-pointer bg-white dark:bg-gray-800 rounded-md flex flex-1 items-center p-4">
                            <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                                <a href="#" class="relative block">
                                    <img alt="profil" src="/assets/tailwindkit/3.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                                </a>
                            </div>
                            <div class="flex-1 pl-1 md:mr-16">
                                <div class="font-medium dark:text-white">
                                    CEO
                                </div>
                                <div class="text-sm text-gray-600 dark:text-gray-200">
                                    Marine Jeanne
                                </div>
                            </div>
                            <div class="text-xs text-gray-600 dark:text-gray-200">
                                6:00 AM
                            </div>
                            <button class="flex justify-end w-24 text-right">
                                <svg width="12" fill="currentColor" height="12" class="text-gray-500 hover:text-gray-800 dark:hover:text-white dark:text-gray-200" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
                    <li class="flex flex-row mb-2 border-gray-400">
                        <div class="shadow border select-none cursor-pointer bg-white dark:bg-gray-800 rounded-md flex flex-1 items-center p-4">
                            <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                                <a href="#" class="relative block">
                                    <img alt="profil" src="/assets/tailwindkit/7.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                                </a>
                            </div>
                            <div class="flex-1 pl-1 md:mr-16">
                                <div class="font-medium dark:text-white">
                                    CTO
                                </div>
                                <div class="text-sm text-gray-600 dark:text-gray-200">
                                    Boby PArk
                                </div>
                            </div>
                            <div class="text-xs text-gray-600 dark:text-gray-200">
                                6:00 AM
                            </div>
                            <button class="flex justify-end w-24 text-right">
                                <svg width="12" fill="currentColor" height="12" class="text-gray-500 hover:text-gray-800 dark:hover:text-white dark:text-gray-200" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
            
        </div>
        <div class="preview-section">

            <div class="container flex flex-col items-center justify-center w-full mx-auto">
                <div class="w-full px-4 py-5 mb-2 bg-white border rounded-md shadow sm:px-6 dark:bg-gray-800">
                    <h3 class="text-lg font-medium leading-6 text-gray-900 dark:text-white">
                        User database
                    </h3>
                    <p class="max-w-2xl mt-1 text-sm text-gray-500 dark:text-gray-200">
                        Details and informations about user.
                    </p>
                </div>
                <ul class="flex flex-col">
                    <li class="flex flex-row mb-2 border-gray-400">
                        <div class="shadow border select-none cursor-pointer bg-white dark:bg-gray-800 rounded-md flex flex-1 items-center p-4">
                            <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                                <a href="#" class="relative block">
                                    <img alt="profil" src="/assets/tailwindkit/6.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                                </a>
                            </div>
                            <div class="flex-1 pl-1 md:mr-16">
                                <div class="font-medium dark:text-white">
                                    Jean Marc
                                </div>
                                <div class="text-sm text-gray-600 dark:text-gray-200">
                                    Developer
                                </div>
                            </div>
                            <div class="text-xs text-gray-600 dark:text-gray-200">
                                6:00 AM
                            </div>
                            <button class="flex justify-end w-24 text-right">
                                <svg width="12" fill="currentColor" height="12" class="text-gray-500 hover:text-gray-800 dark:hover:text-white dark:text-gray-200" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
                    <li class="flex flex-row mb-2 border-gray-400">
                        <div class="shadow border select-none cursor-pointer bg-white dark:bg-gray-800 rounded-md flex flex-1 items-center p-4">
                            <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                                <a href="#" class="relative block">
                                    <img alt="profil" src="/assets/tailwindkit/10.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                                </a>
                            </div>
                            <div class="flex-1 pl-1 md:mr-16">
                                <div class="font-medium dark:text-white">
                                    Designer
                                </div>
                                <div class="text-sm text-gray-600 dark:text-gray-200">
                                    Charlie Moi
                                </div>
                            </div>
                            <div class="text-xs text-gray-600 dark:text-gray-200">
                                6:00 AM
                            </div>
                            <button class="flex justify-end w-24 text-right">
                                <svg width="12" fill="currentColor" height="12" class="text-gray-500 hover:text-gray-800 dark:hover:text-white dark:text-gray-200" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
                    <li class="flex flex-row mb-2 border-gray-400">
                        <div class="shadow border select-none cursor-pointer bg-white dark:bg-gray-800 rounded-md flex flex-1 items-center p-4">
                            <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                                <a href="#" class="relative block">
                                    <img alt="profil" src="/assets/tailwindkit/3.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                                </a>
                            </div>
                            <div class="flex-1 pl-1 md:mr-16">
                                <div class="font-medium dark:text-white">
                                    CEO
                                </div>
                                <div class="text-sm text-gray-600 dark:text-gray-200">
                                    Marine Jeanne
                                </div>
                            </div>
                            <div class="text-xs text-gray-600 dark:text-gray-200">
                                6:00 AM
                            </div>
                            <button class="flex justify-end w-24 text-right">
                                <svg width="12" fill="currentColor" height="12" class="text-gray-500 hover:text-gray-800 dark:hover:text-white dark:text-gray-200" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
                    <li class="flex flex-row mb-2 border-gray-400">
                        <div class="shadow border select-none cursor-pointer bg-white dark:bg-gray-800 rounded-md flex flex-1 items-center p-4">
                            <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                                <a href="#" class="relative block">
                                    <img alt="profil" src="/assets/tailwindkit/7.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                                </a>
                            </div>
                            <div class="flex-1 pl-1 md:mr-16">
                                <div class="font-medium dark:text-white">
                                    CTO
                                </div>
                                <div class="text-sm text-gray-600 dark:text-gray-200">
                                    Boby PArk
                                </div>
                            </div>
                            <div class="text-xs text-gray-600 dark:text-gray-200">
                                6:00 AM
                            </div>
                            <button class="flex justify-end w-24 text-right">
                                <svg width="12" fill="currentColor" height="12" class="text-gray-500 hover:text-gray-800 dark:hover:text-white dark:text-gray-200" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
            
        </div>
        <div class="preview-section">

            <div class="container flex flex-col items-center justify-center w-full mx-auto">
                <div class="w-full px-4 py-5 mb-2 bg-white border rounded-md shadow sm:px-6 dark:bg-gray-800">
                    <h3 class="text-lg font-medium leading-6 text-gray-900 dark:text-white">
                        User database
                    </h3>
                    <p class="max-w-2xl mt-1 text-sm text-gray-500 dark:text-gray-200">
                        Details and informations about user.
                    </p>
                </div>
                <ul class="flex flex-col">
                    <li class="flex flex-row mb-2 border-gray-400">
                        <div class="transition duration-500 shadow ease-in-out transform hover:-translate-y-1 hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 rounded-md flex flex-1 items-center p-4">
                            <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                                <a href="#" class="relative block">
                                    <img alt="profil" src="/assets/tailwindkit/6.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                                </a>
                            </div>
                            <div class="flex-1 pl-1 md:mr-16">
                                <div class="font-medium dark:text-white">
                                    Jean Marc
                                </div>
                                <div class="text-sm text-gray-600 dark:text-gray-200">
                                    Developer
                                </div>
                            </div>
                            <div class="text-xs text-gray-600 dark:text-gray-200">
                                6:00 AM
                            </div>
                            <button class="flex justify-end w-24 text-right">
                                <svg width="12" fill="currentColor" height="12" class="text-gray-500 hover:text-gray-800 dark:hover:text-white dark:text-gray-200" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
                    <li class="flex flex-row mb-2 border-gray-400">
                        <div class="transition duration-500 shadow ease-in-out transform hover:-translate-y-1 hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 rounded-md flex flex-1 items-center p-4">
                            <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                                <a href="#" class="relative block">
                                    <img alt="profil" src="/assets/tailwindkit/10.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                                </a>
                            </div>
                            <div class="flex-1 pl-1 md:mr-16">
                                <div class="font-medium dark:text-white">
                                    Designer
                                </div>
                                <div class="text-sm text-gray-600 dark:text-gray-200">
                                    Charlie Moi
                                </div>
                            </div>
                            <div class="text-xs text-gray-600 dark:text-gray-200">
                                6:00 AM
                            </div>
                            <button class="flex justify-end w-24 text-right">
                                <svg width="12" fill="currentColor" height="12" class="text-gray-500 hover:text-gray-800 dark:hover:text-white dark:text-gray-200" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
                    <li class="flex flex-row mb-2 border-gray-400">
                        <div class="transition duration-500 shadow ease-in-out transform hover:-translate-y-1 hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 rounded-md flex flex-1 items-center p-4">
                            <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                                <a href="#" class="relative block">
                                    <img alt="profil" src="/assets/tailwindkit/3.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                                </a>
                            </div>
                            <div class="flex-1 pl-1 md:mr-16">
                                <div class="font-medium dark:text-white">
                                    CEO
                                </div>
                                <div class="text-sm text-gray-600 dark:text-gray-200">
                                    Marine Jeanne
                                </div>
                            </div>
                            <div class="text-xs text-gray-600 dark:text-gray-200">
                                6:00 AM
                            </div>
                            <button class="flex justify-end w-24 text-right">
                                <svg width="12" fill="currentColor" height="12" class="text-gray-500 hover:text-gray-800 dark:hover:text-white dark:text-gray-200" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
                    <li class="flex flex-row mb-2 border-gray-400">
                        <div class="transition duration-500 shadow ease-in-out transform hover:-translate-y-1 hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 rounded-md flex flex-1 items-center p-4">
                            <div class="flex flex-col items-center justify-center w-10 h-10 mr-4">
                                <a href="#" class="relative block">
                                    <img alt="profil" src="/assets/tailwindkit/7.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                                </a>
                            </div>
                            <div class="flex-1 pl-1 md:mr-16">
                                <div class="font-medium dark:text-white">
                                    CTO
                                </div>
                                <div class="text-sm text-gray-600 dark:text-gray-200">
                                    Boby PArk
                                </div>
                            </div>
                            <div class="text-xs text-gray-600 dark:text-gray-200">
                                6:00 AM
                            </div>
                            <button class="flex justify-end w-24 text-right">
                                <svg width="12" fill="currentColor" height="12" class="text-gray-500 hover:text-gray-800 dark:hover:text-white dark:text-gray-200" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
            
        </div>
        <div class="preview-section">

            <div class="px-4 py-5 border-b rounded-t sm:px-6">
                <div class="overflow-hidden bg-white shadow dark:bg-gray-800 sm:rounded-md">
                    <ul class="divide-y divide-gray-200">
                        <li>
                            <a class="block hover:bg-gray-50 dark:hover:bg-gray-900">
                                <div class="px-4 py-4 sm:px-6">
                                    <div class="flex items-center justify-between">
                                        <p class="text-gray-700 text-md dark:text-white md:truncate">
                                            Increase sales by 10% year over year
                                        </p>
                                        <div class="flex flex-shrink-0 ml-2">
                                            <p class="inline-flex px-2 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full">
                                                On-Track
                                            </p>
                                        </div>
                                    </div>
                                    <div class="mt-2 sm:flex sm:justify-between">
                                        <div class="sm:flex">
                                            <p class="flex items-center font-light text-gray-500 text-md dark:text-gray-300">
                                                January 7, 2020
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="block hover:bg-gray-50 dark:hover:bg-gray-900">
                                <div class="px-4 py-4 sm:px-6">
                                    <div class="flex items-center justify-between">
                                        <p class="text-gray-700 text-md dark:text-white md:truncate">
                                            Increase newsletter subscribers by 500
                                        </p>
                                        <div class="flex flex-shrink-0 ml-2">
                                            <p class="inline-flex px-2 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full">
                                                To do
                                            </p>
                                        </div>
                                    </div>
                                    <div class="mt-2 sm:flex sm:justify-between">
                                        <div class="sm:flex">
                                            <p class="flex items-center font-light text-gray-500 text-md dark:text-gray-300">
                                                Jun 14, 2020
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="block hover:bg-gray-50 dark:hover:bg-gray-900">
                                <div class="px-4 py-4 sm:px-6">
                                    <div class="flex items-center justify-between">
                                        <p class="text-gray-700 text-md dark:text-white md:truncate">
                                            Increase customer satisfaction rating by 10 points
                                        </p>
                                        <div class="flex flex-shrink-0 ml-2">
                                            <p class="inline-flex px-2 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full">
                                                Backlog
                                            </p>
                                        </div>
                                    </div>
                                    <div class="mt-2 sm:flex sm:justify-between">
                                        <div class="sm:flex">
                                            <p class="flex items-center font-light text-gray-500 text-md dark:text-gray-300">
                                                December 10, 2020
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="w-full p-4 mx-auto md:w-1/2">
                        <button type="button" class="py-2 px-4  bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
                            View all
                        </button>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="preview-section">

            <div class="max-w-2xl overflow-hidden bg-white shadow sm:rounded-lg">
                <div class="border-t border-gray-200">
                    <dl>
                        <div class="px-4 py-5 bg-gray-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                Full name
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                Mickael Poulaz
                            </dd>
                        </div>
                        <div class="px-4 py-5 bg-white sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                Best techno
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                React JS
                            </dd>
                        </div>
                        <div class="px-4 py-5 bg-gray-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                Email address
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                m.poul@example.com
                            </dd>
                        </div>
                        <div class="px-4 py-5 bg-white sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                Salary
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                $10,000
                            </dd>
                        </div>
                        <div class="px-4 py-5 bg-gray-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                About
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                To get social media testimonials like these, keep your customers engaged with your social media accounts by posting regularly yourself
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
            
        </div>
        <div class="preview-section">

<div class="max-w-2xl overflow-hidden bg-white shadow sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg font-medium leading-6 text-gray-900">
            User database
        </h3>
        <p class="max-w-2xl mt-1 text-sm text-gray-500">
            Details and informations about user.
        </p>
    </div>
    <div class="border-t border-gray-200">
        <dl>
            <div class="px-4 py-5 bg-gray-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Full name
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    Mickael Poulaz
                </dd>
            </div>
            <div class="px-4 py-5 bg-white sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Best techno
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    React JS
                </dd>
            </div>
            <div class="px-4 py-5 bg-gray-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Email address
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    m.poul@example.com
                </dd>
            </div>
            <div class="px-4 py-5 bg-white sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Salary
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    $10,000
                </dd>
            </div>
            <div class="px-4 py-5 bg-gray-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    About
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    To get social media testimonials like these, keep your customers engaged with your social media accounts by posting regularly yourself
                </dd>
            </div>
        </dl>
    </div>
</div>

        </div>
        <div class="preview-section">

        </div>
        <div class="preview-section">

        </div>
    </div>
</div>

{{end}}