{{define "videos/template"}}


<div class="cards-section flex flex-col flex-wrap">
  <h3 class="text-xl pb-5">
    Videos
  </h3>
  <div class="flex flex-wrap flex-direction-row gap-4">

    <div class="preview-section">
      <div>

        <video class="w-full" controls="">
          <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>

      </div>
    </div>
    <div class="preview-section">
      <div>

        <video class="w-full" autoplay="" controls="">
          <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>

      </div>
    </div>
    <div class="preview-section">
      <div>

        <video class="w-full" autoplay="" muted="" controls="">
          <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>

      </div>
    </div>
    <div class="preview-section">
      <div>

        <video class="w-96" controls="">
          <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>

      </div>
    </div>
    <div class="preview-section">
      <div>

        <video class="h-80" controls="">
          <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>

      </div>
    </div>
    <div class="preview-section">
      <div>

        <video class="w-full h-auto max-w-full" controls="">
          <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>

      </div>
    </div>
    <div class="preview-section">
      <div>

        <video class="w-full h-auto max-w-full border border-gray-200 rounded-lg dark:border-gray-700" controls="">
          <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>

      </div>
    </div>

    <div class="preview-section">

    </div>
  </div>
</div>


{{end}}