{{ define "not-found/index.tmpl" }}
<!DOCTYPE html>
<html>

<head>
  {{template "layout/layout_metatags" .}}
  {{template "layout/layout_head_scripts" .}}
</head>

<div class="root flex">
  <h1 class="p-10 text-2xl text-center text-gray-500 dark:text-gray-50">
    {{.title}}
  </h1>
</div>

</body>

</html>
{{ end }}