{{ define "layout/layout_aside" }}

<aside class="flex flex-col w-64 h-screen px-5 py-8 bg-white dark:bg-gray-900 dark:border-gray-700">
  <a href="#" class="dark:bg-gray-700 bg-teal-500 text-center rounded-full">
    <img alt="" src="/assets/sms_icon_favicon_transparent.svg" class="w-24 h-24 inline-block" />
  </a>
  <div class="flex flex-col justify-between flex-1 mt-6 overflow-y-auto overflow-x-hidden flex-grow -ml-2 -mr-4">
    <nav class="space-y-6 ">
        <div class="space-y-3 ">
            <label class="px-3 text-xs text-gray-500 uppercase dark:text-gray-400">Layout</label>

            <a href="/sidebars" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
              <span class="mx-2 text-sm font-medium">Sidebars</span>
          </a>

          <a href="/footers" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
              <span class="mx-2 text-sm font-medium">Footers</span>
          </a>

          <a href="/headers" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
              <span class="mx-2 text-sm font-medium">Headers</span>
          </a>
        </div>
        <div class="space-y-3 ">
            <label class="px-3 text-xs text-gray-500 uppercase dark:text-gray-400">Pages</label>

            <a href="/404" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
                <span class="mx-2 text-sm font-medium">404</span>
            </a>

            <a href="/landing" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
                <span class="mx-2 text-sm font-medium">Landing</span>
            </a>

            <a href="/portfolio" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
                <span class="mx-2 text-sm font-medium">Portfolio</span>
            </a>

            <a href="/blog" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
                <span class="mx-2 text-sm font-medium">Blog</span>
            </a>
        </div>

        <div class="space-y-3">
            <label class="px-3 text-xs text-gray-500 uppercase dark:text-gray-400">Components</label>

            <a href="/inputs" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
               <span class="mx-2 text-sm font-medium">Inputs</span>
            </a>

            <a href="/forms" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
              <span class="mx-2 text-sm font-medium">Forms</span>
            </a>

            <a href="/buttons" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
                <span class="mx-2 text-sm font-medium">Buttons</span>
            </a>

            <a href="/badges" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
                <span class="mx-2 text-sm font-medium">Badges</span>
            </a>

            <a href="/lists" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
                <span class="mx-2 text-sm font-medium">Lists</span>
            </a>

            <a href="/tabs" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
                <span class="mx-2 text-sm font-medium">Tabs</span>
            </a>

            <a href="/cards" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
                <span class="mx-2 text-sm font-medium">Cards</span>
            </a>

            <a href="/datepickers" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
                <span class="mx-2 text-sm font-medium">Datepickers</span>
            </a>

            <a href="/dropdowns" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
                <span class="mx-2 text-sm font-medium">Dropdowns</span>
            </a>

            <a href="/progressbars" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
                <span class="mx-2 text-sm font-medium">Progressbars</span>
            </a>

            <a href="/ratings" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
                <span class="mx-2 text-sm font-medium">Rating</span>
            </a>

            <a href="/skeletons" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
                <span class="mx-2 text-sm font-medium">Skeletons</span>
            </a>

            <a href="/spinners" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
                <span class="mx-2 text-sm font-medium">Spinners</span>
            </a>

            <a href="/steppers" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
                <span class="mx-2 text-sm font-medium">Steppers</span>
            </a>

            <a href="/tables" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
                <span class="mx-2 text-sm font-medium">Tables</span>
            </a>

            <a href="/text" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
                <span class="mx-2 text-sm font-medium">Text Sizes</span>
            </a>

            <a href="/timelines" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
                <span class="mx-2 text-sm font-medium">Timelines</span>
            </a>

            <a href="/toasts" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
                <span class="mx-2 text-sm font-medium">Toasts</span>
            </a>

            <a href="/videos" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
                <span class="mx-2 text-sm font-medium">Videos</span>
            </a>

            <a href="/generic_layouts" class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
                <span class="mx-2 text-sm font-medium">Generic layout and components</span>
            </a>
        </div>

    </nav>
</div>
  <div class="justify-end text-center text-lg pt-5 border-t-2 dark:border-gray-700 font-medium">
    V 0.0.1
  </div>
</aside>

{{end}}